.container {
  margin: 0 auto;
  max-width: 80vw;
}

.book {
  margin: 12px;
  background: #ffffff;
  padding: 15px;
  border-radius: 4px;
  cursor: text;
  overflow: hidden; /* Ensure content inside .book does not overflow */
}

.cover--img {
  float: left;
  width: 10rem;
  margin-right: 15px;
  margin-bottom: 15px;
}


.book-body {
  /* Clear the float to ensure the text wraps around the image */
  /* overflow: hidden; */
}

/* .book p {
  padding: 0.5rem;
} */
.title-book{
  font-size: 1.3rem;
  font-weight: 600;
}
.book--author {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: black;
}

.book .description {
  font-family: Gilroy;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.4em;
  color: #383838;
}

.title-book {
  width: 100%;
  font-size: 1rem;
}

