.container {
  margin: 0 auto;
  max-width: 80vw;
}

.book {
  margin: 12px;
  background: #ffffff;
  padding: 15px;
  border-radius: 4px;
  cursor: text;
  overflow: hidden;
}

.cover--img {
  float: left;
  width: 13rem;
  margin-right: 15px;
  margin-bottom: 15px;
}

.book-body {
  /* Clear the float to ensure the text wraps around the image */
  /* overflow: hidden; */
}

/* .book p {
  padding: 0.5rem;
} */
.title-book {
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  letter-spacing: 0.01em !important;
  font-size: 1.8rem !important;
}
.p {
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;

  letter-spacing: 0.01em !important;
  font-size: 1.8rem !important;
}
.book--author {
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  letter-spacing: 0.01em !important;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  color: black;
}

.book .description {
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  letter-spacing: 0.07em !important;
  font-size: 1.2rem;
  color: rgb(34, 33, 33);
}

.title-book {
  width: 100%;
  font-size: 1rem;
}
