.searchresult {
  font-family: "Arial", sans-serif;
  display: flex;
  max-width: 78%;
  margin: 10px auto;
  margin: 1rem auto;
}


.bodyArticule h2 {
  font-size: 1.78rem;
  line-height: 18px;
  font-weight: normal;
  color: rgb(29, 1, 189);
  margin-bottom: 1rem;
  
}
.bodyArticule h2 a {
  text-decoration: underline;
}
.bodyArticule p {

  font-size: 1.2rem;
  line-height: 20px;
  font-weight: normal;
  color: rgb(34, 33, 33);
  margin-bottom: 0;
}

.searchresult img {
  height: auto;
  width: 200px;
  max-height: 202px;
  margin-left: 10px;
}


/* Responsive styles */
@media (max-width: 768px) {
  .searchresult {
    flex-direction: row;
    align-items: flex-start;
    max-width: 95%;
    margin: 10px auto;
  }

  .searchresult img {
    width: 100px;
    max-height: 120px;
    margin-left: 3px;
    margin-top: 10px;
  }
}
