.searchresult {
  font-family: "Arial", sans-serif;
  display: flex;
  max-width: 78%;
  margin: 10px auto;
}


.bodyArticule h2 {
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: normal;
  color: rgb(29, 1, 189);
  margin-bottom: 0;
}
.bodyArticule h2 a {
  text-decoration: underline;
}
.bodyArticule p {

  font-size: 0.8rem;
  line-height: 14px;
  color: black;
  margin-bottom: 0;
}

.searchresult img {
  width: 80px; /* Adjust the width as desired */
  height: auto;
  max-height: 80px;
  margin-left: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .searchresult {
    flex-direction: row;
    align-items: flex-start;
    max-width: 95%;
    margin: 10px auto;
  }

  .searchresult img {
    width: 70px;
    max-height: 70px;
    margin-left: 0;
    margin-top: 10px;
  }
}
